/* Montserrat Thin */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Thin.ttf");
    font-weight: 100;
}

/* Montserrat Extra Light */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

/* Montserrat Light */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

/* Montserrat Medium */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

/* Montserrat Semi-Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

/* Montserrat Extra Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}

/* Montserrat Black */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Black.ttf");
    font-weight: 900;
}



	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-Black.ttf"); 
		font-weight: 900; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-Bold.ttf"); 
		font-weight: 700; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-Light.ttf"); 
		font-weight: 300; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-Regular.ttf"); 
		font-weight: 400; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-SemiBold.ttf"); 
		font-weight: 600; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-Thin.ttf"); 
		font-weight: 100; 
	} 


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'SoDoSans',"Helvetica Neue", Helvetica, Arial,sans-serif;
}

:root{
	--yellow:#fbffa7;
	--red:#ff764d;
	--lightblue:#b1c5ff;
	--purple:#d5b3ff;
	--green:#b6ffc0;
	--darkblue:#0000ff;
}

body{ ;
	user-select: none;
	padding: 0;
	margin: 0;
	background-color: black; 
	color: white;
}


/* Header */
.header{
	width: 100%;
	height:100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

header::before{
	content: "";
	z-index: 8;
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.6);
}


/* Navbar */
.navbar{
	width: 100%;
	height: 100px;
	display: flex;
	position: fixed;
    top: 0px;
    z-index: 200;
    width: 100%;
    transition: top 0.5s ease-in-out;
    transition: background-color .9s ease-in-out;
}

.navmenu-icon{
	width: 60px;
	height: 60px;
	display: none;
}

.navbar_box{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_img_box{
	width: 200px ;
	min-width: 200px;
	height: 80px;
	display: flex;
	border-radius: .2rem;
	justify-content: center;
	align-items: center;
}


.nav_img_box img{
	width: 100%;
	height:100%;
	object-fit: cover;
}

.nvb{
	display: flex;
	text-decoration:none;
	align-items: center;
	padding-right: 10px;
	transition: all 1s linear,
}

.navlinks_box li{
	list-style: none;
	margin:0 14px;
	font-size: 17px;	
}

.navlinks_box li a {
	text-decoration: none;
	color: white;
	padding: 10px 2px 5px 2px ;
	font: bolder;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: border-bottom-color .5s ease-in-out;
	transition: font-weight 0s ease-in-out;  
}

.last_link {
	padding: 10px 15px !important ;
	/*border-radius: .2rem;*/
	background-color:#467fbc;
	color:white;
	margin-left: 35px;
	border: none;
	font-size: 16px;
	letter-spacing: .8px;
	font-weight: bolder;
}
	/* NavLinks Hover state */
li a:hover{
	font-weight: 600;
	border-bottom-color:#f9f9f9;
}

li a:focus{
	outline: none;
	font-weight: 600;
	border-bottom-color:#f9f9f9;
}

.last_link:hover{
	background-color:#467fbc;
	border-bottom-color:#467fbc;
	opacity: .8;
}



/* Middle text */
.middle_text{
	display: flex;
	flex-direction: column;
	position: absolute;
	top:55%;
	width:70%;
	z-index: 10;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.middle_text h1{
	font-size: 3rem;
	text-transform: uppercase;
}
.middle_text p{
	font-size: 1.1rem;
}
.middle_text small{
	color: #DCDCDC;
	margin-top: 10px;
	font-weight: 400;
	font-size: 1rem;
}


/* Global Styles */
a{
	text-align: center;
}

h2,h3{
	line-height: 40px;
	letter-spacing: 1.3px;
}

p{
	line-height: 26px;
	letter-spacing: 1.3px;
}
img{
	object-fit: cover !important;
}
h2{
	font-size: 2rem;
}


/* First Section */
.section{
	width:100%;
	min-height:400px;
}

.section p {
	font-family:'Montserrat' !important;
}

.section1{
	width:100%;
	border-bottom: 2px solid lightgray;
}

.section_one{
	color:black;
	background-color: white;
	display:flex;
}

.section_one .one {
	background-color: white;
	width:50%;
}

.section_one .two {
	width:50%;
	background-color: white;
}

.complex-grid {
	width:100%;
	margin-top:30px;
	height: 500px;
	display: flex;
}

.cg_one{
	width: 50%;
	height:100%;
	background-color: pink;
	display: flex;
	flex-direction: column;
}

.cg_two{
	width: 50%;
	height:100%;
	text-align: center;
}


/* Utility Classes */
.cut-text{
	text-align: center;
	padding: 0 35px;
}

.flex{
	display: flex
}

.flex-col{
	flex-direction: column;
}

.justify-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.full{
	width: 100%;
	height:100%;
}

.text-center{
	text-align: center;
}

.py5{
	padding:50px 0 0 0;
}

.bg-white{
	color:black !important;
	background-color: white !important;
}

.dark {
	color:#f9f9f9 !important;
	background-color: black !important;
}
.reverse {
	flex-direction: row ;
}


.closemenu-icon{
	display: none;
}





/* Founder */
.founder {
	height:250px;
	width: 100%;
	background-color: #074D85;
	color:white;
	display: flex; 
}

.founder_inner {
	width: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
	flex-direction: column;

}
.inner_one h2 {
	font-size: 6.5vmin;
}

.inner_one p {
	font-size: .95rem;
	padding: 0 20px;
}

.inner_two {
	row-gap: 30px;
	/*flex-direction: row;
    justify-content: flex-start;*/
}
.inner_two h2 {
	font-size: 7rem;
}


/* Footer */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	text-align: center;
}






@media (max-width: 720px){

	body{
		overflow-x: none;
	}

	.navbar{
		/*position: relative;*/

	}

	.navmenu-icon{
		z-index: 944;
		display: flex;
		position: fixed;
		top:20px;
		right: 30px;
	}

	.nvb {
		padding-top: 50px;
		position: fixed;
		top:0;
		left:-100;
		bottom:0;
		width:100vw;
		height:100vh;
		background-color: black;
		flex-direction: column;
		align-items: center;
		z-index: 100;

	}
	.nvb.active {
		left:0;
	}

	.nvb.active li {
		color: black;
	}	


		/* Nav Links */
	
	.navlinks_box li a {
		color:white !important ;
	}
	.navlinks_box li{
		margin-top:25px; 
		text-align: center;
		width: 100%;
	}
	.last_link {
		width: 50% !important;
		padding-right:0px;
		margin-right:0px; 
		/*background-color: red;*/
		/*margin-left: 0px;*/
	}


	/* Middle text */
	.middle_text{
		width: 80%;
		top:45%;
	}
	.middle_text h1{
		font-size: 2.3rem;
	}
	.middle_text p{
		font-size: .93rem;
	}
	.middle_text small{
		color: lightgray;
		margin-top: 10px;
		font-weight: 600;
		font-size: .8rem;
	}

	/* Section */	
	.section{
		flex-direction: column !important;
	}
	.section p {
		font-size: .9rem;
		line-height: 27px;
		letter-spacing: 1.3px;
	}
	.section h2 {
		font-size: 1.7rem;
		line-height: 33px !important;
	}
		
		/* inner section*/
	.show_two{
		flex-direction: column-reverse !important;
	}
	.section_one .one {
		width:100%;
		height: 400px;
	}

	.section_one .two {
		width:100%;
		height: 400px;
	}


	/* Utility Classes */
	.cut-text{
		padding: 0 17px;
	
	}

	.complex-grid {
		width:100%;
		flex-direction: column-reverse;
		height: 600px;
	}

	.cg_one{
		width: 100%;
	}

	.cg_two{
		width: 100%;
	}

	#section-1 {
	  background-color: #2d8df8;
	}

	a#scroll-btn {
		position: absolute;
		height: 4em;
		width: 2em;
		border: 0.3em solid #ffffff;
		margin: auto;
		top:80%;
		z-index: 10;
		left:50%;
		transform: translate(-50%,-50%);
		text-align: center;
		border-radius: 3em;
	}

	a#scroll-btn:before {
	  position: absolute;
	  content: "";
	  margin: auto;
	  left: 0;
	  right: 0;
	  top: .9em;
	  height: 1em;
	  width: 1em;
	  background-color: #ffffff;
	  border-radius: 50%;
	  animation: move-down 2s infinite;
	}

	@keyframes move-down {
	  80% {
	    opacity: 0.5;
	  }
	  100% {
	    transform: translateY(1.75em);
	    opacity: 0;
	  }
	}

	a#scroll-btn:after {
	  position: absolute;
	  content: "SCROLL DOWN";
	  width: 12em;
	  display: block;
	  width: 12em;
	  text-align: center;
	  left: -5em;
	  bottom: -2.5em;
	  font-size: .6em;
	  color: #ffffff;
	  letter-spacing: 3px;
	  font-weight: 600;
	}

	/* Founder */

	.founder {
		flex-direction: column;
		width: 100%;
		height: 600px;
		justify-content: center;
		align-items: center;
	}

	.inner_one {

	}

	.inner_one h2 {
		font-size: 2rem;
	}

	.inner_one p {
		padding: 0 12px;
		font-size: .9rem;
	}


	.founder_inner {
		width:90%;
	}


}









