/* Montserrat Thin */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Thin.ttf");
    font-weight: 100;
}

/* Montserrat Extra Light */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

/* Montserrat Light */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

/* Montserrat Medium */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

/* Montserrat Semi-Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

/* Montserrat Extra Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}

/* Montserrat Black */
@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Black.ttf");
    font-weight: 900;
}



	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-Black.ttf"); 
		font-weight: 900; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-Bold.ttf"); 
		font-weight: 700; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-Light.ttf"); 
		font-weight: 300; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-Regular.ttf"); 
		font-weight: 400; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-SemiBold.ttf"); 
		font-weight: 600; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("./assets/fonts/SoDoSans-Thin.ttf"); 
		font-weight: 100; 
	} 


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'SoDoSans',"Helvetica Neue", Helvetica, Arial,sans-serif;
}

:root{
	--yellow:#fbffa7;
	--red:#ff764d;
	--lightblue:#b1c5ff;
	--purple:#d5b3ff;
	--green:#b6ffc0;
	--darkblue:#0000ff;
}

body{ ;
	user-select: none;
	padding: 0;
	margin: 0;
	background-color: black; 
	color: white;
}

.header{
	width: 100%;
	height:100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}



/* Navbar */
.navbar{
	width: 100%;
	height: 100px;
	display: flex;
	position: fixed;
    top: 0px;
    z-index: 200;
    width: 100%;
    transition: top 0.5s ease-in-out;
    transition: background-color .9s ease-in-out;
}

header::before{
	content: "";
	z-index: 8;
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.6);
}

.navmenu-icon{
	width: 60px;
	height: 60px;
	display: none;
}

.navbar_box{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_img_box{
	width: 200px ;
	min-width: 200px;
	height: 80px;
	display: flex;
	border-radius: .2rem;
	justify-content: center;
	align-items: center;
}

.nav_img_box img{
	width: 100%;
	height:100%;
	object-fit: cover;
}

.navlinks_box{
	display: flex;
	text-decoration:none;
	align-items: center;
	padding-right: 10px;
	transition: all 1s linear,
}

.navlinks_box li a {
	text-decoration: none;
	color: white;
	padding: 10px 2px 5px 2px ;
	font: bolder;
	/*background-color: red;*/
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: border-bottom-color .5s ease-in-out;
	transition: font-weight 0s ease-in-out;  
}

.navlinks_box li{
	list-style: none;
	margin:0 14px;
	font-size: 17px;	
}


.last_link {
	padding: 10px 15px !important ;
	border-radius: .2rem;
	background-color:#467fbc;
	color:white;
	margin-left: 35px;
	border: none;
	font-size: 16px;
	letter-spacing: .8px;
	font-weight: bolder;
}



li a:hover{
	font-weight: 600;
	border-bottom-color:#f9f9f9;
}

li a:focus{
	outline: none;
	font-weight: 600;
	border-bottom-color:#f9f9f9;
}

.last_link:hover{
	background-color:#467fbc;
	border-bottom-color:#467fbc;
	opacity: .8;
}


/* Middle text */
.middle_text{
	display: flex;
	flex-direction: column;
	position: absolute;
	top:55%;
	width:70%;
	z-index: 10;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.dark{

}

.navbar.dark-nav{
	color: black !important; 
}

.middle_text h1{
	font-size: 3rem;
	text-transform: uppercase;
}
.middle_text p{
	font-size: 1.1rem;
}
.middle_text small{
	color: #DCDCDC;
	margin-top: 10px;
	font-weight: 400;
	font-size: 1rem;
}

.bb-gray{
	border-bottom: 2px solid lightgray;
}



a{
	text-align: center;
}

h2,h3{
	line-height: 40px;
	letter-spacing: 1.3px;
}

p{
	line-height: 26px;
	letter-spacing: 1.3px;
}

/* First Section */
.section{
	width:100%;
	min-height:400px;
	/*font-family:'Montserrat';*/
	/*border-bottom: 2px solid lightgray;*/
}

.section p {
	font-family:'Montserrat' !important;
}

.section1{
	width:100%;
	border-bottom: 2px solid lightgray;
}

.section_one{
	color:black;
	background-color: white;
	display:flex;
}

.section_one .one {
	background-color: white;
	width:50%;
}

.section_one .two {
	width:50%;
	background-color: white;
}

.complex-grid {
	width:100%;
	margin-top:30px;
	height: 500px;
	display: flex;
}

img{
	object-fit: cover !important;
}

.cg_one{
	width: 50%;
	height:100%;
	background-color: pink;
	display: flex;
	flex-direction: column;
}

.cg_two{
	width: 50%;
	height:100%;
	text-align: center;
}

h2{
	font-size: 2rem;
}

.cut-text{
	text-align: center;
	padding: 0 35px;
}

.flex{
	display: flex
}

.flex-col{
	flex-direction: column;
}

.justify-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.full{
	width: 100%;
	height:100%;
}

.text-center{
	text-align: center;
}

.py5{
	padding:50px 0 0 0;
}

.bg-white{
	color:black !important;
	background-color: white !important;
}

.dark {
	color:#f9f9f9 !important;
	background-color: black !important;
}
.reverse {
	flex-direction: row-reverse;
}

.section_two{
	background-color: violet;
}




/*@media (min-width: 720px){
	.nvb{
		display: flex;
		z-index: 888;
	}
	.navlinks_box{
		display: flex;
		z-index: 888;
	}
}
*/


@media (max-width: 720px){

	body{
		overflow-x: none;
	}

	.navmenu-icon{
		z-index: 744;
		display: flex;
		position: fixed;
		top:20px;
		right: 30px;
		
	}

	.navbar{

	}

	h2,h3{
		font-size: 1.1rem;
		line-height: 25px;
		letter-spacing: 1.2px;
	}

	.section p {
		font-size: .8rem;
		line-height: 20px;
		letter-spacing: 1.3px;
	}

	.section h2 {
		font-size: 1.4rem;
	}

	.cut-text{
		padding: 0 15px;
	}

	.middle_text h1{
		font-size: 2.3rem;
	}

	.middle_text p{
		font-size: .8rem;
	}

	.middle_text small{
		color: #DCDCDC;
		margin-top: 10px;
		font-weight: 400;
		font-size: .7rem;
	}

	.navlinks_box li a {
		color:white !important ;
	}

	.section{
		flex-direction: column !important;
	}

	.section_one .one {
		width:100%;
		height: 400px;
	}

	.section_one .two {
		width:100%;
		height: 400px;
	}

	/*.navbar {
		d !important;
		display: none;
	}
*/
	.nvb {
		padding-top: 50px;
		position: fixed;
		top:0;
		left:0;
		bottom:0;
		width:100vw;
		height:100vh;
		background-color: black;
		flex-direction: column;
		align-items: flex-end;
		z-index: 309;
		display: none;
	}

	.navlinks_box li{
		margin-top:25px; 
		width: 40%;

	}
	.last_link {
		width: 100px;
	}
}









