/* Montserrat Thin */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Thin.ttf");
    font-weight: 100;
}

/* Montserrat Extra Light */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

/* Montserrat Light */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

/* Montserrat Medium */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

/* Montserrat Semi-Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

/* Montserrat Extra Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}

/* Montserrat Black */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Black.ttf");
    font-weight: 900;
}



	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Black.ttf"); 
		font-weight: 900; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Bold.ttf"); 
		font-weight: 700; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Light.ttf"); 
		font-weight: 300; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Regular.ttf"); 
		font-weight: 400; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-SemiBold.ttf"); 
		font-weight: 600; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Thin.ttf"); 
		font-weight: 100; 
	} 


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'DM Sans', sans-serif;
	/* font-family: 'SoDoSans',"Helvetica Neue", Helvetica, Arial,sans-serif; */
}





/* Navbar */
.navbar{
	width: 100%;
	height: 70px;
	display: flex;
	background-color: #f9f9f9;
	background-color: #fcfcfc;
	color: black !important ;
	position: sticky;
    top: 0px;
    left: 0px;
    z-index: 200;
    width: 100%;
    /* transition: top 0.5s ease-in-out;
    transition: background-color .4s linear; */
}

.navmenu-icon{
	width: 45px;
	height: 45px;
	display: none;

}

.navbar_box{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_img_box{
	width: 180px ;
	/*min-width: 200px;*/
	height: 35px;
	margin-top: 15px;
	display: flex;
	margin-left: 20px;
	border-radius: .2rem;
	justify-content: center;
	align-items: center;
	transition: all .5s ease-in-out;
}

.nav_img_box img{
	width: 100%;
	height:100%;
	object-fit: cover;
	background-size: cover;
}

.nvb{
	display: flex;
	text-decoration:none;
	align-items: center;
	padding-right: 10px;
	transition: all 1s linear,
}


.navlinks_box li{
	list-style: none;
	margin:0 14px;
	display: flex;
	align-items: center;
	gap: 4.5px;
	font-size: 15px;	
}

.li-img{
	width: 20px;
	height: 20px;
}

.navlinks_box li a {
	text-decoration: none;
	color: black;
	padding: 10px 2px 5px 2px ;
	font: bolder;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: border-bottom-color .5s ease-in-out;
	transition: font-weight 0s ease-in-out;  
}


header {
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: #fcfcfc; */
	border-bottom: 2px solid #fcfcfc;
	/* color: white; */
}

header h1 {
	font-size:2.3rem;
	font-weight:900;
	font-family: 'Dancing Script', cursive;
	text-align: center;
}

.section_one {
	margin: 20px 0 ;
	padding: 0 10px;
	line-height: 1.8;
	width: 100%;

}

.section_one h2{
	
}

.main {
	padding: 0 10px;
	width: 100%;
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}



/* Service Card */
.service_card {
	flex-basis: 250px;
	height: 300px;
	flex-grow: 1;
	position: relative;
	margin: 0px 0px 0px 0px  ;
	background-color: black;
}


.service_card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-size: cover;
	
}


/* .service_card div {
	width: 100%;
	height: 20%;
	color: white;
	display: flex;
	align-items: center;
	padding-left: 20px;
	background-color: black;
} */

/* .service_card div p {
	font-weight: 700;
	font-size: 1.4rem;
}
 */


/* Style for the overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

/* Style for the clickable text in the overlay */
.overlay-text {
  color: #fff;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
  font-weight: 700;
  /* background-color: yellow; */
  margin: 0 20px 40px 20px ;
  width: 40%;
}

.overlay small {
	font-size: 15px;
	font-weight: 300;
}
/* Show the overlay on hover */
.service_card:hover .overlay {
  opacity: 1;
  
}

/* Line */
.service_card:hover .line {
  width: 90%;
  height: 2px;
  margin-top: 3px;
  background-color: red;
  transition: width 0.3s ease;
}

@keyframes expandAndContract {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 85%;
  }
}

.service_card:hover .line {
  animation: expandAndContract 1.3s linear ;
}





/* Last */
.last {
	height: 280px;
	width: 100%;
	padding: 0 10px;
	margin :40px 0px;

}

.last div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	height: 100%;
	background-color:#f9f9f9/*  #467fbc */; 
	text-align: center;
	border-radius: .3rem;
	padding: 30px 20px;
}

.last div section {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.last h2 {
	color: black;
	font-size: 1.6rem;
	letter-spacing: 1.2px;
	font-weight: 800;
}

.last button {
	background-color: #467fbc;
	padding: 13px 23px;
	color: white;
	font-size: 1.1rem;
	font-weight: 400;
	/* border-radius: .2rem; */
}



/*  Footer  */
footer {
	width: 100%;
    background-color: white;
    color: white!important;
    background-color: rgba(0, 0, 0, .85);
    padding: 30px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo img {
    width: 150px;
    height:auto;
    margin-bottom: 20px;
}

.footer-links ul,
.footer-info,
.footer-social {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    /* color: white; */
    text-align: center;
}

.footer-links h3{
	/* margin-bottom: 5px; */
}
.footer-links a {
    text-decoration: none;
    color: lightgray;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff9900;
}

/* .footer-info h3, */
.footer-social h3 {
    font-size: 18px;
    /* margin-bottom: 10px; */
}

.code{
	color: lightgray;
	text-decoration: none;
}

b{
	font-weight: bold;
	color: #fcfcfc;
}

.footer-info p {
    font-size: 15px;
    line-height:1.7; 
    color: darkgray;
}

.social-icon {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ff9900;
}

.footer-social ul{
	list-style: none;
}

.footer-social img {
	width: 40px;
	height:40px;
}


/* Footer 2 */
.footer-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	font-size: 1.1rem;
	background-color:rgba(0, 0, 0, 0.85);
	color: white; 
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}





@media screen and (max-width: 768px) {
	header h1 {
		font-size: 2.5rem;
	}
	/*  Navbar */
	.navbar{
		/* background-color: red; */
	}

	.navmenu-icon{
		z-index: 944;
		display: flex;
		position: fixed;
		width: 30px;
		height: 30px;
		top:20px;
		right: 30px;
		transition: all 0.5s ease;
	}

	.nvb.active .navmenu-icon{
		transform: rotate(180deg); 
	}

	.nav_img_box{
		width: 150px ;
		height: 25px;
		position: fixed;
		top: 10px;
		left: 0;
		z-index: 120;
	}

	.navbar {
		position: sticky;
		top:0;
		bottom:0;
		width:100%;
		/* height:100vh; */
		background-color: #fcfcfc;
		align-items: center;
		z-index: 100;
	}

	.nvb {
		position: fixed;
		top: 0;
		padding-top: 80px;
		width: 100%;
		flex-direction: column;
		align-items: center;
		background-color: #fcfcfc;
		transition: all .5s ease-in-out;
	}

	.nvb {
		display: none;
	}

	.nvb.active {
		/* height:0px;  */
		display: unset;
	}


	.nvb.active li {
		color: black;
		margin: 0 auto;
		text-align: center;
	}	


	/* Nav Links */
	.navlinks_box li a {
		color:black !important ;
	}

	.navlinks_box li{
		padding: 10px 0;
		text-align: center;
		width: 100%;
		justify-content: center;
	}

	header h1 {
		font-size: 3rem;
	}

	.footer-content {
        flex-direction: column;
        align-items: center;
        gap:20px;
    }

    .last button {
		background-color: #467fbc;
		padding: 15px 23px;
	}

	.last div {
		padding: 40px 15px;
	}
}




















