/* Montserrat Thin */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Thin.ttf");
    font-weight: 100;
}

/* Montserrat Extra Light */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

/* Montserrat Light */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

/* Montserrat Medium */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

/* Montserrat Semi-Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

/* Montserrat Extra Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}

/* Montserrat Black */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Black.ttf");
    font-weight: 900;
}



	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Black.ttf"); 
		font-weight: 900; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Bold.ttf"); 
		font-weight: 700; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Light.ttf"); 
		font-weight: 300; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Regular.ttf"); 
		font-weight: 400; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-SemiBold.ttf"); 
		font-weight: 600; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Thin.ttf"); 
		font-weight: 100; 
	} 


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	font-family:'SoDoSans','Rubik', sans-serif;
	/* font-family: 'SoDoSans',"Helvetica Neue", Helvetica, Arial,sans-serif; */
}


body{
	/*width: 100vw;*/
	min-height: 100vh;
	
}

/* Navbar */
.navbar{
	width: 100%;
	height: 70px;
	display: flex;
	background-color: #fcfcfc;
	color: black !important ;
	position: sticky;
    top: 0px;
    left: 0px;
    z-index: 200;
    width: 100%;
    /* transition: top 0.5s ease-in-out;
    transition: background-color .4s linear; */
}

.navmenu-icon{
	width: 45px;
	height: 45px;
	display: none;

}

.navbar_box{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_img_box{
	width: 180px ;
	/*min-width: 200px;*/
	height: 35px;
	margin-top: 15px;
	display: flex;
	margin-left: 40px;
	border-radius: .2rem;
	justify-content: center;
	align-items: center;
	transition: all .5s ease-in-out;
}

.nav_img_box img{
	width: 100%;
	height:100%;
	object-fit: cover;
	background-size: cover;
}

.nvb{
	display: flex;
	text-decoration:none;
	align-items: center;
	padding-right: 10px;
	transition: all 1s linear,
}


.navlinks_box li{
	list-style: none;
	margin:0 14px;
	display: flex;
	align-items: center;
	gap: 4.5px;
	font-size: 15px;	
}

.li-img{
	width: 20px;
	height: 20px;
}

.navlinks_box li a {
	text-decoration: none;
	color: black;
	padding: 10px 2px 5px 2px ;
	font: bolder;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: border-bottom-color .5s ease-in-out;
	transition: font-weight 0s ease-in-out;  
}

.last_link {
	padding: 10px 12px !important ;
	border-radius: .4rem;
	background-color:#467fbc;;
	color:white;
	margin-left: 35px;
	border: none;
	font-size: 16px;
	letter-spacing: .4px;
	/* font-weight: bolder; */
}
	/* NavLinks Hover state */
li a:hover{
	/* font-weight: 600; */
	/* border-bottom-color:#f9f9f9; */
	color: #467fbc !important;
}

li a:focus{
	outline: none;
	font-weight: 600;
	/* border-bottom-color:#f9f9f9; */
}

.last_link:hover{
	background-color:#467fbc;
	border-bottom-color:#467fbc;
	opacity: .9;
}


/* Header */
header {
	/* height: 150px; */
	width: 100%;
	/* background-color: cornflowerblue; */
	display: flex;
	padding: 30px 20px 45px 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:15px;
	/* font-family: 'Montserrat';  */
}

header h1 {
	font-weight: 900;
	font-size: 4.2rem;
	text-align: center;
	/*font-family: 'Montserrat'*/
}

header p {
	font-weight: 300;
	color: rgba(17,17,17,.5);
	/*font-size: 2.5rem;*/
	/*font-family: 'Montserrat'*/
}

header li {
	padding: 8px 10px;
	border: 2px solid  rgba(17,17,17,.5);
	border-radius: .2rem;
	/*border:1px solid darkgray;*/
}

.header-categories {
	display: flex;
	list-style: none;
	gap:15px;

}



main {
 padding:0 20px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap:10px;
}


.blog-card {
	display: flex;
	flex-direction: column;
	/*width:400px;*/
	text-align: center;
	font-size: 25px ;
	font-weight: 500;
	line-height: 28px;
	color: rgb(0, 0, 0);
	/*background-color: red;*/
	height:300px;
	margin-bottom: 20px;
	width: 330px;
	text-overflow: clip;
}

.between{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.blog-card a {
	color:black;
	width: 100%;
	text-decoration: none;
}


/*  Newsletter */

.newsletter-box {
    /* background-color: #fcfcfc; */
    background-color: rgba(0, 0, 0, 0.92);
    /* margin: 0 ; */
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    border-radius: .4rem;
    width: 100%;
    height: 300px;
}

h2 {
    color: white;
    /* color: #333; */
    font-size: 24px;
    margin: 0;
}

p {
    color: lightgray;
    font-size: 14px;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #467fbc;
    color: #fff;
    padding: 15px 22px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


/*  Footer  */ 
footer {
	width: 100%;
    background-color: white;
    color: black;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo img {
    width: 150px;
    height:auto;
    margin-bottom: 20px;
}

.footer-links ul,
.footer-info,
.footer-social {
    list-style: none;
    padding: 0;
    margin: 0;
    /* color: white; */
    text-align: center;
}

.footer-links h3{
	margin-bottom: 10px;
}
.footer-links a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff9900;
}

.footer-info h3,
.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

b{
	font-weight: bold;
	color: rgba(0, 0, 0, .7);
}

.footer-info p {
    font-size: 15px;
    line-height:1.7; 
    color: darkgray;
}

.social-icon {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ff9900;
}

.footer-social ul{
	list-style: none;
}

.footer-social img {
	width: 40px;
	height:40px;
}


/* Footer 2 */
.footer-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	font-size: 1.1rem;
	background-color:white;
	color: black; 
	border-top: 2px solid rgba(0, 0, 0, 0.02);
	text-align: center;
}






@media screen and (max-width: 768px) {
	main {
		padding:0 10px;
	}
	/*  Navbar */
	.navmenu-icon{
		z-index: 944;
		display: flex;
		position: fixed;
		width: 30px;
		height: 30px;
		top:20px;
		right: 30px;
	}

	.nav_img_box{
		width: 150px ;
		height: 25px;
	}

	.nvb {
		padding-top: 50px;
		position: fixed;
		top:0;
		left:-100;
		bottom:0;
		width:100vw;
		height:100vh;
		background-color: #f9f9f9;
		flex-direction: column;
		align-items: center;
		z-index: 100;

	}
	.nvb.active {
		left:0;
	}

	.nvb.active li {
		color: black;
		margin: 0 auto;
		text-align: center;
	}	


	/* Nav Links */
	.navlinks_box li a {
		color:black !important ;
	}

	.navlinks_box li{
		padding: 10px 0;
		text-align: center;
		width: 100%;
		justify-content: center;
	}

	.last_link {
		text-align: center;
		width: 50% !important;
		padding-right:0px;
		margin-right:0px;

		/* background-color: red; */
		/*margin-left: 0px;*/
	}

	header {
		gap:3px;
	} 
	.newsletter-box form {
		width: 77%;
	}

    .footer-content {
        flex-direction: column;
        align-items: center;
        gap:20px;
    }

    .footer-info,
    .footer-social {
        text-align: center;
    }
  	header h1 {
		font-size: 2.5rem;
	}

	.blog-nav-items{
		display: none;
		transition: all .5s ease-in-out;
	}


	.nav-icon{
		display: flex;
	}
}



