/* Montserrat Thin */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Thin.ttf");
    font-weight: 100;
}

/* Montserrat Extra Light */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

/* Montserrat Light */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

/* Montserrat Medium */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

/* Montserrat Semi-Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

/* Montserrat Extra Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}

/* Montserrat Black */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Black.ttf");
    font-weight: 900;
}



	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Black.ttf"); 
		font-weight: 900; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Bold.ttf"); 
		font-weight: 700; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Light.ttf"); 
		font-weight: 300; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Regular.ttf"); 
		font-weight: 400; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-SemiBold.ttf"); 
		font-weight: 600; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Thin.ttf"); 
		font-weight: 100; 
	} 


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	font-family: 'SoDoSans',"Helvetica Neue", Helvetica, Arial,sans-serif;
}


body{
	/*width: 100vw;*/
	min-height: 100vh;
	
}

.blog-nav{
	display: flex;
	width: 100%;
	height: 80px;
	justify-content: space-between;
	padding: 0px 50px 0px 0px;
	align-items: center;
	position: relative;
	/*background-color: red;*/
}

.nav-icon{
	position: absolute;
	top:20%;
	right:-50px;
	width:50px;
	height: 50px;
	display:none;
}

.blog-nav img{
	/*margin-top: 13px;*/
	width: 200px;
}

.blog-nav-items  {
	display: flex;
	gap:30px;
	list-style: none;
	align-items: center;
}

.blog-nav-items li {
	
}

.blog-nav-items li a {
	text-decoration: none;
	color:rgba(0,0,0,.8);
	font-weight: bold;
	font-size: 1.02rem;
}

.last_link {
	padding: 12px 17px !important ;
	cursor: pointer;
	background-color:#467fbc;
	color:white;
	margin-left: 15px;
	border: none;
	font-size: 16px;
	letter-spacing: .8px;
	font-weight: bolder;
}

header {
	height: 200px;
	width: 100%;
	/*background-color: cornflowerblue;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:15px;
	font-family: 'Montserrat'; 
}

header h1 {
	font-weight: 900;
	font-size: 3.5rem;
	text-align: center;
	/*font-family: 'Montserrat'*/
}

header p {
	font-weight: bold;
	color:#1D1929;
	/*font-size: 2.5rem;*/
	/*font-family: 'Montserrat'*/
}

header li {
	padding: 8px 10px;
	background-color: #F2F2F2;
	border-radius: .2rem;
	/*border:1px solid darkgray;*/
}

.header-categories {
	display: flex;
	list-style: none;
	gap:15px;

}



.nav2{
	padding: 0 20px;
	margin:5px 0 30px 0 ;
}

main {
 padding:0 20px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap:10px;
}


.blog-card {
	display: flex;
	flex-direction: column;
	/*width:400px;*/
	text-align: center;
	font-size: 25px ;
	font-weight: 500;
	line-height: 28px;
	color: rgb(0, 0, 0);
	/*background-color: red;*/
	height:300px;
	margin-bottom: 20px;
	width: 330px;
	text-overflow: clip;
}

.between{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.blog-card a {
	color:black;
	width: 100%;
	text-decoration: none;
}


/*  Newsletter */

.newsletter-box {
    background-color: #fcfcfc;
    margin: 20px 0 ;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    width: 100%;
    height: 250px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin: 0;
}

p {
    color: #666;
    font-size: 14px;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


/*  Footer  */

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo img {
    width: 150px;
    height:auto;
    margin-bottom: 20px;
}

.footer-links ul,
.footer-info,
.footer-social {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-links h3{
	margin-bottom: 10px;
}
.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff9900;
}

.footer-info h3,
.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-info p {
    font-size: 14px;
}

.social-icon {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ff9900;
}

.footer-social ul{
	list-style: none;
}

.footer-social img {
	width: 50px;
	height:50px;
}



@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap:20px;
    }

    .footer-info,
    .footer-social {
        text-align: center;
    }
  	header h1 {
		font-size: 2.5rem;
	}

	.blog-nav-items{
		display: none;
		transition: all .5s ease-in-out;
	}


	.nav-icon{
		display: flex;
	}
}



