/* Montserrat Thin */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Thin.ttf");
    font-weight: 100;
}

/* Montserrat Extra Light */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

/* Montserrat Light */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Light.ttf");
    font-weight: 300;
}

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

/* Montserrat Medium */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}

/* Montserrat Semi-Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

/* Montserrat Extra Bold */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}

/* Montserrat Black */
@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat-Black.ttf");
    font-weight: 900;
}



	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Black.ttf"); 
		font-weight: 900; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Bold.ttf"); 
		font-weight: 700; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Light.ttf"); 
		font-weight: 300; 
	} 


	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Regular.ttf"); 
		font-weight: 400; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-SemiBold.ttf"); 
		font-weight: 600; 
	} 

	@font-face { 
		font-family: 'SoDoSans'; 
	    src:url("../assets/fonts/SoDoSans-Thin.ttf"); 
		font-weight: 100; 
	} 


@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	font-family:'SoDoSans','Rubik', sans-serif;
	/* font-family: 'SoDoSans',"Helvetica Neue", Helvetica, Arial,sans-serif; */
}


body{
	/*width: 100vw;*/
	min-height: 100vh;
	width: 100%;
	background-color: #f9f9f9;
	
}

/* Navbar */
.navbar{
	width: 100%;
	height: 70px;
	display: flex;
	background-color: #f9f9f9;
	/* background-color: white; */
	color: black !important ;
	position: sticky;
    top: 0px;
    left: 0px;
    z-index: 200;
    width: 100%;
}

.navmenu-icon{
	width: 45px;
	height: 45px;
	display: none;

}

.navbar_box{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_img_box{
	width: 180px ;
	/*min-width: 200px;*/
	height: 35px;
	margin-top: 15px;
	display: flex;
	margin-left: 20px;
	border-radius: .2rem;
	justify-content: center;
	align-items: center;
	transition: all .5s ease-in-out;
}

.nav_img_box img{
	width: 100%;
	height:100%;
	object-fit: cover;
	background-size: cover;
}

.nvb{
	display: flex;
	text-decoration:none;
	align-items: center;
	padding-right: 10px;
	transition: all 1s linear,
}


.navlinks_box li{
	list-style: none;
	margin:0 14px;
	display: flex;
	align-items: center;
	gap: 4.5px;
	font-size: 15px;	
}

.li-img{
	width: 20px;
	height: 20px;
}

.navlinks_box li a {
	text-decoration: none;
	color: black;
	padding: 10px 2px 5px 2px ;
	font: bolder;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: border-bottom-color .5s ease-in-out;
	transition: font-weight 0s ease-in-out;  
}

.last_link {
	padding: 10px 12px !important ;
	border-radius: .4rem;
	background-color:#467fbc;;
	color:white;
	margin-left: 35px;
	border: none;
	font-size: 16px;
	letter-spacing: .4px;
	/* font-weight: bolder; */
}
	/* NavLinks Hover state */
li a:hover{
	/* font-weight: 600; */
	/* border-bottom-color:#f9f9f9; */
	/* color: #467fbc !important; */
}

li a:focus{
	outline: none;
	font-weight: 600;
}



/* Header */
header {
	width: 100%;
	display: flex;
	padding: 50px 20px 85px 30px;
	justify-content: space-between;
	align-items: center;
	margin:0 auto;
	max-width: 1300px;
}

header h1 {
	font-weight: 600;
	font-size: 44px;
	margin-right: 100px;
	text-align: center;
	padding-top: 10px;
	border-top: 4px solid red;
	/* font-family: 'Montserrat' */

}

.header-categories {
	display: flex;
	justify-content: space-around;
	list-style: none;
	gap:15px;
	width: 100%;
	/* margin: 10px 0px 0 70px; */
	padding: 8px 0; 
	align-items: center;
	background-color: white;
	border-radius: .5rem;
	margin-top: 10px;
	box-shadow: 0 24px 48px 0 rgb(0,0,0,.15)
}


header li {
	padding: 8px 10px;
	font-weight: bolder;
	/* border: 2px solid  rgba(17,17,17,.5); */
	/* border-radius: .2rem; */
}



main {
	/* padding:0 20px; */
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin:0 auto;
	max-width: 1300px;
	padding: 0 50px;
	gap: 20px;
	place-items: center;
}




/* New Blog Card */

.blog-card {
	display: flex;
	flex-direction: column;
	text-align: left: ;
	font-size: 25px ;
	font-weight: 500;
	background-color: white;
	color: rgb(0, 0, 0);
	border-radius: .4rem;
	height: 480px;
	min-height:350px;
	margin-bottom: 20px;
	min-width: 250px;
	max-width: 100%;
	box-shadow: 0 24px 48px 0 rgb(0,0,0,.1)
}



.blog-card:first-child {
	/* grid-column: 2/3;
	grid-row: 1/3; */
	/* background-color: red; */
}

.bc_inner {
	width: 100%;
	height: 100%;
}

.blog-card .bc_img:hover {
	transition: transform .8s ease-in-out;
}

.blog-card .bc_img:hover {
	transform: scale(.9)
}

.blog-card ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	font-size: 15px;
	font-weight: bolder;
	gap: 5px;
	color: #467fbc;
	padding: 10px 10px ;
}


.blog-card h5{
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	padding: 0 10px;
	color:rgb(33, 37, 41);
	word-break: keep-all;
}


.blog-card img {
	width: 500px;
	height: 50%;
}


.blog-card a {
	color:black;
	width: 100%;
	height: 100%;
	text-decoration: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.bc_meta {
	display: flex;
	align-items: center;
	/* background-color: red; */
	justify-content: flex-start;
	gap: 13px;
	margin-bottom: 15px;
	margin-left: 10px;
}


.bc_meta .img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: contain;
	padding: 2px;
	background-color: rgba(0,0,0,.05);
}

.bc_meta .data{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 100%
}

.bc_meta p{
	font-size: 14px;
	font-weight: 400;
	color: rgb(130, 130, 130)
}

.bc_meta p:first-child{
	font-size: 16px;
	font-weight: 700;
	color: rgb(130, 130, 130);
}


.bc_meta .data {
	color: black;
}






/*  Newsletter */
.newsletter-box {
    background-color: rgba(0, 0, 0, 0.92);
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .4rem;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    height: 300px;
}

h2 {
    color: white;
    /* color: #333; */
    font-size: 24px;
    margin: 0;
}

p {
    color: lightgray;
    font-size: 14px;
    /* margin: 10px 0; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #467fbc;
    color: #fff;
    padding: 15px 22px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


/*  Footer  */ 
footer {
	width: 100%;
    background-color: white;
    color: black;
    padding: 30px 0;
    max-width: 1700px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo img {
    width: 150px;
    height:auto;
    margin-bottom: 20px;
}

.footer-links ul,
.footer-info,
.footer-social {
    list-style: none;
    padding: 0;
    margin: 0;
    /* color: white; */
    text-align: center;
}

.footer-links h3{
	margin-bottom: 10px;
}
.footer-links a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ff9900;
}

.footer-info h3,
.footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

b{
	font-weight: bold;
	color: rgba(0, 0, 0, .7);
}

.footer-info p {
    font-size: 15px;
    line-height:1.7; 
    color: darkgray;
}

.social-icon {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ff9900;
}

.footer-social ul{
	list-style: none;
}

.footer-social img {
	width: 40px;
	height:40px;
}


/* Footer 2 */
.footer-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	font-size: 1.1rem;
	background-color:white;
	color: black; 
	border-top: 2px solid rgba(0, 0, 0, 0.02);
	text-align: center;
}



/*  Single Blog Post */
.blog-header{
	/* padding: 20px; */
	padding: 30px 0 ;
}

.blog-header h1{
	font-weight: 600;
	font-size: 2.3rem;
	padding-bottom: 30px;
}

.mainn {
	padding: 0 60px;
}

.toc {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: column; 
	gap: 30px;
	padding: 30px 0 20px 0;
}

.blog-meta {
	margin-top: 5px;
	font-size: 1.3rem;
}

.toc ul{
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.toc ul li::marker{
	color: #467fbc;
}

.toc h2{
	color: black;
}

.blog-p {
	font-size: 1.2rem;
	margin: 40px 0;
	color: black;
}






@media screen and (max-width: 768px) {
	main {
		padding:0 10px;
	}

	.mainn {
		padding: 0 30px;
	}

	/*  Navbar */
	.navbar{
		/* background-color: red; */
	}

	.navmenu-icon{
		z-index: 944;
		display: flex;
		position: fixed;
		width: 30px;
		height: 30px;
		top:20px;
		right: 30px;
		transition: all 0.5s ease;
	}

	.nvb.active .navmenu-icon{
		transform: rotate(180deg); 
	}

	.nav_img_box{
		width: 150px ;
		height: 25px;
		position: fixed;
		top: 10px;
		left: 0;
		z-index: 120;
	}

	.navbar {
		position: sticky;
		top:0;
		bottom:0;
		width:100%;
		/* height:100vh; */
		background-color: #fcfcfc;
		align-items: center;
		z-index: 100;
	}

	.nvb {
		position: fixed;
		top: 0;
		padding-top: 80px;
		width: 100%;
		flex-direction: column;
		align-items: center;
		background-color: #fcfcfc;
		transition: all .5s ease-in-out;
	}

	.nvb {
		display: none;
	}

	.nvb.active {
		/* height:0px;  */
		display: unset;
	}


	.nvb.active li {
		color: black;
		margin: 0 auto;
		text-align: center;
	}	


	/* Nav Links */
	.navlinks_box li a {
		color:black !important ;
	}

	.navlinks_box li{
		padding: 10px 0;
		text-align: center;
		width: 100%;
		justify-content: center;
	}

	.last_link {
		text-align: center;
		width: 50% !important;
		padding-right:0px;
		margin-right:0px;

		/* background-color: red; */
		/*margin-left: 0px;*/
	}

	/* Header styles */
	header {
		gap:3px;
	} 
	.newsletter-box form {
		width: 77%;
	}

    .footer-content {
        flex-direction: column;
        align-items: center;
        gap:20px;
    }

    .footer-info,
    .footer-social {
        text-align: center;
    }
  	header h1 {
		font-size: 2.5rem;
	}

	.blog-nav-items{
		display: none;
		transition: all .5s ease-in-out;
	}


	.nav-icon{
		display: flex;
	}

	main {
	 grid-template-columns: 1fr 1fr;
	 padding: 0 30px;
	} 

	.blog-card {
		/* grid-column: 1/3; */
		width: 100%;
		height: 430px;
		/* margin: 0 30px; */
	}


	/* .blog-card h5{
		line-height: 33px;
		font-size: 1.3rem !important; 
	} */


	.blog-card:first-child {
		/* grid-column: 2/4; */
		/* grid-row: 1/3; */
		/* background-color: red; */
	}
	header {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		/* padding: 0; */
	}

	header h1 {
		text-align: left;
	}

	.header-categories {
		width: 100%;
	}
}


@media screen and (max-width: 550px) {
	main {
		grid-template-columns: 1fr;
	}


	.blog-card {
		height: 400px;
	}
}


